<% 1000.times do |number| %>
  <% number += 1 %>
  <% if number%15 == 0 %>
    <h3>FizzBuzz</h3>
  <% elsif number%5 == 0 %>
    <h3>Buzz</h3>
  <% elsif number%3 == 0 %>
    <h3>Fizz</h3>
  <% else %>
    <h3><%= number %></h3>
  <% end %>
<% end %>
