<div id="results">
  <% if !@lines.nil? %>
    <% @lines.each do |line| %>
    <div> 
      <% if line.kind_of? Integer %>
        <%= line %>
      <% else %>
        <%= image_tag line %>
      <% end %>
    </div>
    <% end %>
  <% end %>
</div>
